<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Nisim Yosef</key><dict><key>Address</key><string>Gidon Hauzner </string><key>City</key><string>Jerusalem</string><key>Description</key><string>Plumber rank 7/10 050-5012345</string><key>Name</key><string>Nisim Yosef</string><key>Coordonates</key><string>31.7705,35.185089</string></dict>
<key>Yoram Dahan</key><dict><key>Address</key><string>Yad-Harutzim </string><key>City</key><string>Jerusalem</string><key>Description</key><string>Electrician rank 6/10 050-5012346</string><key>Name</key><string>Yoram Dahan</string><key>Coordonates</key><string>31.783925,35.192299</string></dict>
<key>Avraham Cohen</key><dict><key>Address</key><string>Yaakov Raz </string><key>City</key><string>Jerusalem</string><key>Description</key><string>Air Contionning rank 6/10 050-5012347</string><key>Name</key><string>Avraham Cohen</string><key>Coordonates</key><string>31.785968,35.218735</string></dict>
<key>Itzhak Levy</key><dict><key>Address</key><string>Hillel </string><key>City</key><string>Jerusalem</string><key>Description</key><string>Electrician rank 8/10 050-5012348</string><key>Name</key><string>Itzhak Levy</string><key>Coordonates</key><string>31.769916,35.213242</string></dict>
<key>Ben Hassid</key><dict><key>Address</key><string>Bialik</string><key>City</key><string>Tel-Aviv</string><key>Description</key><string>Air Contionning rank 8/10 050-5012349</string><key>Name</key><string>Ben Hassid</string><key>Coordonates</key><string>32.063519,34.770699</string></dict>
<key>Dor Raz</key><dict><key>Address</key><string>Hess</string><key>City</key><string>Tel-Aviv</string><key>Description</key><string>Computer rank 5/10 050-5012310</string><key>Name</key><string>Dor Raz</string><key>Coordonates</key><string>32.059882,34.776878</string></dict>
<key>Kobi Cohen</key><dict><key>Address</key><string>Ha Rav Kook</string><key>City</key><string>Tel-Aviv</string><key>Description</key><string>Tv-Fix rank 10/10 050-5012311</string><key>Name</key><string>Kobi Cohen</string><key>Coordonates</key><string>32.069338,34.784088</string></dict>
<key>Yossi Oz</key><dict><key>Address</key><string>Bograshov</string><key>City</key><string>Tel-Aviv</string><key>Description</key><string>Electrician rank 9/10 050-5012312</string><key>Name</key><string>Yossi Oz</string><key>Coordonates</key><string>32.077775,34.78735</string></dict>
<key>Ori Nir</key><dict><key>Address</key><string>Rambam</string><key>City</key><string>Ashdod</string><key>Description</key><string>other </string><key>Name</key><string>Ori Nir</string><key>Coordonates</key><string>31.803914,34.652596</string></dict>
<key>Rotem Shtrauss</key><dict><key>Address</key><string>Itzhak Sadeh</string><key>City</key><string>Ashdod</string><key>Description</key><string>Computer rank 10/10 050-5012313</string><key>Name</key><string>Rotem Shtrauss</string><key>Coordonates</key><string>31.793993,34.644871</string></dict>
<key>Gadi Fine</key><dict><key>Address</key><string>Jabotinski</string><key>City</key><string>Ashdod</string><key>Description</key><string>Plumber rank 4/10 050-5012314</string><key>Name</key><string>Gadi Fine</string><key>Coordonates</key><string>31.818939,34.650707</string></dict>
<key>Yoram Gur</key><dict><key>Address</key><string>Shavei Tsion</string><key>City</key><string>Ashdod</string><key>Description</key><string>Tv-Fix  no rank fixed yet 050-5012315</string><key>Name</key><string>Yoram Gur</string><key>Coordonates</key><string>31.794285,34.645214</string></dict>
<key>Yossi Biton</key><dict><key>Address</key><string>Yefe Nof</string><key>City</key><string>Ashdod</string><key>Description</key><string>other</string><key>Name</key><string>Yossi Biton</string><key>Coordonates</key><string>31.790929,34.657745</string></dict>
<key>David Moshe</key><dict><key>Address</key><string>Usishkin</string><key>City</key><string>Netanya</string><key>Description</key><string>Electrician rank 7/10 050-5012316</string><key>Name</key><string>David Moshe</string><key>Coordonates</key><string>32.335445,34.855843</string></dict>
<key>Nathan Dahan</key><dict><key>Address</key><string>David Remez</string><key>City</key><string>Netanya</string><key>Description</key><string>LockSmith rank 7/10 050-5012317</string><key>Name</key><string>Nathan Dahan</string><key>Coordonates</key><string>32.324856,34.862194</string></dict>
<key>Daniel Roth</key><dict><key>Address</key><string>Pinsker</string><key>City</key><string>Netanya</string><key>Description</key><string>Computer rank 9/10 050-5012318</string><key>Name</key><string>Daniel Roth</string><key>Coordonates</key><string>32.307737,34.858418</string></dict>
<key>Yoav Getz</key><dict><key>Address</key><string>Shoham</string><key>City</key><string>Netanya</string><key>Description</key><string>Tv-Fix rank 3/10 050-5012319</string><key>Name</key><string>Yoav Getz</string><key>Coordonates</key><string>32.315427,34.880905</string></dict>
<key>Motti Hassin</key><dict><key>Address</key><string>Rabi Akiva</string><key>City</key><string>Netanya</string><key>Description</key><string>Air Contionning rank 8/10 050-5012320</string><key>Name</key><string>Motti Hassin</string><key>Coordonates</key><string>32.280312,34.848461</string></dict>
<key>Idan Tzur</key><dict><key>Address</key><string>Ha-Palmakh</string><key>City</key><string>Eilat</string><key>Description</key><string>Vehicle rank 8/10 050-5012321</string><key>Name</key><string>Idan Tzur</string><key>Coordonates</key><string>29.552852,34.945107</string></dict>
<key>Sharon Raz</key><dict><key>Address</key><string>Kampen</string><key>City</key><string>Eilat</string><key>Description</key><string>other</string><key>Name</key><string>Sharon Raz</string><key>Coordonates</key><string>29.545684,34.94133</string></dict>
<key>Moshe Cohen</key><dict><key>Address</key><string>Durban</string><key>City</key><string>Eilat</string><key>Description</key><string>Plumber rank 9/10 050-5012322</string><key>Name</key><string>Moshe Cohen</string><key>Coordonates</key><string>29.554644,34.964333</string></dict>
<key>Moshe Levi</key><dict><key>Address</key><string>Ha Satat</string><key>City</key><string>Eilat</string><key>Description</key><string>Air Contionning rank 6/10 050-5012323</string><key>Name</key><string>Moshe Levi</string><key>Coordonates</key><string>29.560617,34.931717</string></dict>
	</dict>
</dict>
</plist>
